{
  "extends": [
    "react-app",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "no-console": "warn",
    "no-restricted-imports": [
      "error",
      {
        "patterns": [".*"]
      }
    ],
    "comma-dangle": [2, "only-multiline"]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true
  }
}